[Unit]
Description=Octoprint service
After=network.target

[Service]
User=octoprint
Group=octoprint
Restart=always
ExecStart=/home/octoprint/.local/bin/octoprint
Type=simple

[Install]
WantedBy=multi-user.target