$TTL    86400
$ORIGIN {{ network.network_name }}.
@       IN      SOA     {{ network.network_name }}. dns.{{ network.network_name }}. (
        {{ serial }};
        604800;
        86400;
        2419200;
        86400;
)

@   IN  NS  dns.lan.

DNS     IN  A   {{ network.network_prefix }}.100

{% for host in network.hosts %}
{{ host.name }}     IN      A       {{ network.network_prefix }}.{{ host.ip }}
{% endfor %}