$TTL    86400
$ORIGIN {{ network.network_name }}.
@       IN      SOA     {{ network.network_name }}. dns.{{ network.network_name }}. (
        {{ serial }};
        604800;
        86400;
        2419200;
        86400;
)

{{ network.network_reverse }}   IN  A   dns.{{ network.network_name }}

{% for host in network.hosts %}
{{ host.ip }}   IN      PTR     {{ host.name }}
{% endfor %}